<phpunit
	bootstrap="tests/include/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<testsuites>
		<testsuite name="WordPress--GitHub Sync Test Suite">
			<directory prefix="test-" suffix=".php">tests/unit/</directory>
		</testsuite>
	</testsuites>
	<filter>
		<blacklist>
			<directory>/tmp/wordpress*</directory>
			<directory>./vendor/</directory>
			<directory>./tests/</directory>
		</blacklist>
	</filter>
	<logging>
		<log type="tap" target="build/report.tap"/>
		<log type="junit" target="build/report.junit.xml"/>
		<log type="coverage-html" target="build/coverage" charset="UTF-8" yui="true" highlight="true"/>
		<log type="coverage-text" target="build/coverage.txt"/>
		<log type="coverage-clover" target="build/logs/clover.xml"/>
	</logging>
</phpunit>
